 p {
        font-family: Roboto, Arial;
        margin-top: 0;
        margin-bottom: 0;
      }

 body{
    margin: 0;
    padding-bottom: 0px;
    padding-top: 78px;
    padding-left: 92px;
    padding-right: 20px;
    background-color: rgb(249, 249, 249);
 }

 