  .search-bar {
    display: block;
    flex: 1;
    height: 40px;
    font-size: 16px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    box-shadow: inset 0px 1px 2px rgb(238, 238, 238);
    width: 0;
    padding-left: 12px;
    z-index: 300;
  } 

  .search-bar:focus{
    outline-color: rgb(31, 92, 198);
    outline-style: solid;
    outline-width: 1px;
    outline-offset: -1px;
  }

 

  .search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
    padding-left: 1px;
    
  }


   .header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-color: rgb(226, 223, 223);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 100;
   }

   .hamburger-menu{
    height: 22px;
    margin-left: 24px;
    margin-right: 24px;
    align-items: center;

   }

   .ytlogo{
    height: 20px;  
   

   }

  .search-button,
  .search-voice,
  .upload-icon-container,
  .ytapps-icon-container,
  .ntf {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }


   .search-button{
    height: 43px;
    width: 64px;
    background-color: rgb(247 , 247, 247);
    border-width: 0.1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    margin-left: -0.1px;
    margin-right: 10px;
    border-radius: 2px;
    position: relative;

   
   }

   .search-button .tooltip,
   .search-voice .tooltip,
   .upload-icon-container .tooltip,
   .ytapps-icon-container .tooltip,
   .ntf .tooltip{
   background-color: rgba(96, 96, 96, 0.9);
    color: white;
    font-size: 12px;
    padding: 8px;
    border-radius: 2px;
    position: absolute;
    bottom: -50px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
   }

  
    
   
   
  
   .search-voice:hover .tooltip,
   .search-button:hover .tooltip,
   .upload-icon-container:hover .tooltip,
   .ytapps-icon-container:hover .tooltip,
   .ntf:hover .tooltip{
    opacity: 1;
   }


   .search-button:hover{
    background-color: rgb(239, 239, 239);
    cursor: pointer;
   }

   .search-icon{
    height: 25px;
    width: 100%;
   
   }

   .search-voice{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248 , 248, 248);

  
   }

   .voice-icon{
    height: 24px;
      
   }

   .firstsection{

    display: flex;
    width: 150px;
    align-items: center; 


   }
   
   .secondsection{
    
    flex: 1;
    margin-left: 60px;
    margin-right: 45px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

   }

   

   .thirdsection{
   
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    flex-shrink: 0;
   }

   .upload-icon{
    height: 24px;
   }

   .yt-apps{
    height: 24px;
   }

   .notification-icon{
    height: 24px;
   
   }
   
   .ntf{
    position: relative;
   }

   .notification-count{
    position: absolute;
    font-size: 10px;
    font-family: roboto;
    top: -3px;
    right: -7px;
    border: 2px;
    border-style: solid;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 80px;
    background-color: rgb(204, 0, 0);
    color: white;

   }

   .channel-icon{
    height: 32px;
    border-radius: 16px;
   }


   