.sidebar{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 55px;
    background-color: rgb(255, 255, 255);
    width: 72px;
    border-right: 1px;
    border-right-width: 1px;
    border-right-color: rgb(226, 223, 223);
    border-right-style: solid;
    z-index: 200;
}

.sidebar-link{
   height: 78px;
   display: flex;
   flex-direction: column;
   align-items: center;
  justify-content: center;
  font-size: 10px;
  font-family: roboto, arial;
 
}

.sidebar-link:hover{
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}

.sidebar-link img{
    height: 24px;
    padding-bottom: 6.5px;
    
}