

      .thumbnail {
       
        width: 100%;
        height: auto;

       
      }

      

      .video-title {
        margin-top: -1px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 12px;
      }

  
      
      
      .video-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;


      }

      .profile-picture {
        width: 36px;
        border-radius: 50px;
      }

      .thumbnail-row {
        margin-bottom: 8px;
        position: relative;
      }

      .video-time{
        font-family: robot, Arial;
        font-weight: 500;
        font-size: 12px;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        position: absolute;
        padding: 4px;
        bottom: 11px;
        right: 4px;
        border-radius: 2px;
      }

      .video-author,
      .video-stats {
        font-size: 12px;
        color: rgb(96, 96, 96);
      }

      .video-author {
        margin-bottom: 4px;
      }

      .video-grid{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 40px;
        column-gap: 16px;
      }

      


      

      @media (min-width: 600px) {
        .video-grid {
          grid-template-columns: 1fr 1fr;
        }
      }

        @media (min-width: 900px) {
        .video-grid {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }

       @media (min-width: 1200px) {
        .video-grid {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }