 p{
        font-family: roboto;
        margin-top: 0px;
        margin-top: 0px;
    }
    .intro{
        
        font-size: 24px;
        font-weight: Bold;
        width: 370px;
        line-height: 26px;
        margin-bottom: 6px;
}
.stats{
   
    font-size: 14px;
    color: rgb(96 ,96 ,96);
   
}
.name{
color: rgb( 96 ,96 ,96);
margin-top: 30px;
font-size: 17px;
}
.context{
    width: 305px;
    margin-top: 22px;
    color: rgb(96 ,96 ,96);
    line-height: 20px;
    margin-bottom: 100px;
}
.play{
    color: white;
    background-color: red;
    height: 27px;
    width: 39px;
    border-radius: 7px;
    margin-top: 18px;
    margin-bottom: 13px;
    border: none;
}
.offer{
   margin-bottom: 50px;
    background-color: rgb(227, 65, 65);
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
.underline:hover{
    text-decoration: underline;
    cursor: pointer;
} 